body{
    background: PINK;
    justify-content: center;
    display: flex;
}
h1{
    font-family: Arial;
    color: BLACK;
    font-size: 5em;
    height: 100vh;    
    text-shadow: 0 2px 0 rgb(0, 0, 0, 5);
    position: absolute;
    text-align: center;
}
span:before{
    content: 'SAYANG';
    animation: animation infinite 20s;
}


@keyframes animation{
    0%{
        content: 'SAYANG SAMA';
    }
    10%{
        content: 'CINTA SAMA';
    }
    20%{
        content: 'SUKA SAMA';
    }
    30%{
        content: 'KANGEN SAMA';
    }
    40%{
        content: 'BAPER SAMA';
    }
    50%{
        content: 'SUKA LIAT';
    }
    60%{
        content: 'SALTING SAMA';
    }
    70%{
        content: 'MAU SUSAH SENANG SAMA';
    }
    80%{
        content: 'BAKAL TEMENIN';
    }
    90%{
        content: 'PERCAYA SAMA';
    }
    100%{
        content: 'PEDULI SAMA';
    }
}
